{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets%}{% endblock %}
{% block top %}
    <div class="container">
        <!--Titre-->
        <div class=""text-center">
            <h1>Mes Voyages</h1>
            <p> Je vais vous présenter les villes que j'ai visité </p>
        </div>
        <!--Menu-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("accueil") }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("voyages") }}">Voyages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
{% endblock %}
{% block body %}{% endblock %}
{% block javascript %}{% endblock %}
    
